body {
    background-color: white;
}
body > h1{
    color: white;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content{
    height: 1000px;
}

#horizontalnav{
    width: 80%;
    display: inline-block;
}

.container-fluid{
    overflow: hidden;
}

#topcontainer{
    height: 480px;
    !important;
    margin: auto;
    background-color: white;
}

#central{
    background-color: white;
}

#tabs{
    height: 450px;
    overflow: auto;
}

#prev {
  border-right: solid 1px #000000;
}

/* Set gray background color and 100% height */
.sidenav {
    background: #f1f1f1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f1f1f1, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f1f1f1, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f1f1f1, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f1f1f1, #ffffff); /* Standard syntax */
    height: 100%;
    width: 20%;
    min-width: 180px;
}

.enabled{
    background: #67b6f1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #d5f1f0, #ffffff, #d5f1f0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d5f1f0, #ffffff, #d5f1f0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d5f1f0, #ffffff, #d5f1f0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d5f1f0, #ffffff, #d5f1f0); /* Standard syntax */
}

.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed tbody, .table-fixed tr, .table-fixed td {
    display: block;
}
.table-fixed tbody td{
    float: left;
    border-bottom-width: 0;
}

table {
	border-collapse:collapse;
	width: 80%;
    table-layout: fixed;
}
table, td {
  	background: white;
}

.primary{
    width: 40%;
}

.secondary{
    width: 20%;
}

.btn-info {
    text-transform:uppercase;
    padding:5px;
    display: inline-block;
}

input{
  border-radius:10px;
}
textarea{
  border-radius:10px;
}

select{
  border-radius:10px;
}

td {
    overflow-x: hidden;
}
tbody{
	max-height:10px;
	overflow: scroll;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #99FFCC;
}

.table-wrapper{
	overflow-y: auto;
	max-height:300px;
}

#prevt{
    overflow-y: auto;
    max-height:200px;
}

#relatedt{
	overflow-y: auto;
	max-height:200px;
}

#detailbox{
    border-radius: 25px;
    border: 2px solid darkgrey;
    padding: 20px;
    width: 82%;
    overflow: auto;
}

#messagebox{
    border-radius: 25px;
    border: 0px solid;
    padding: 20px;
    width: 82%;
    overflow: auto;
}

#messaget{
    overflow-y: auto;
    height: 200px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
    position: relative;
    left: 20px;
}
ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}