{% extends 'userrequests/base.html' %}
{% block title %}Your BigDataOcean Requests{% endblock %}

{% block body %}

<div id="container" class="container-fluid text-center">
    <!-- Displays the Requests Of The Logged In User If Any -->
    {% if request.user.is_authenticated %}
        {%  if all_requests|length > 0 %}
            <h1>On Demand Data Services</h1>
            <form class="navbar-form" role="search" method="GET" action="{% url 'userrequests:search' %}">
                <div class="form-group  is-empty">
                    <input type="text" class="form-control border-input" placeholder="Search For A Request" name="title">
                </div>
                <button type="submit" class="btn btn-default">
                    Search
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </form>

            <h1>You Have ({{ all_requests|length }}) Requests</h1>

            <div id="topcontainer" class="container-fluid">
                <div id="row1" >
                    <div id="central" class="col-sm-10 sidenav">
                        <div id="usabilities">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#open">Open ({{ open|length }})</a></li>
                                <li><a data-toggle="tab" href="#closed">Closed ({{ closed|length }})</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="open" class="tab-pane fade in active">
                                {% if open|length > 0 %}
                                    <div class='table-wrapper'>
                                        <table id='opentable' class='table table-hover'>
                                            <tbody id='otbody'>
                                                {% for entry in open %}
                                                    <tr>
                                                        <td>
                                                            <a href="{%  url 'userrequests:detail' entry.id %}">
                                                                <img src="{{ entry.file }}" width="100px" height="100px" alt="No Image Has Been Uploaded" style="color: brown; float: left; margin-right: 40px;">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'userrequests:detail' entry.id %}">
                                                                <h4 class="text-left">{{ forloop.counter }} : {{ entry.title }}</h4>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <p>{{ entry.keywords }}</p>
                                                        </td>
                                                        <td>
                                                            <p>{{ entry.deadline }}</p>
                                                        </td>
                                                        <td>
                                                            <p>{{ entry.views }} views</p>
                                                            <p>{{ entry.downloads }} downloads</p>
                                                        </td>
                                                    </tr>
                                                {%  endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <h4>You Have No Pending Request</h4>
                                {% endif %}
                            </div>
                            <div id="closed" class="tab-pane fade">
                                {% if closed|length > 0 %}
                                    <div class='table-wrapper'>
                                        <table id='closedtable' class='table table-hover'>
                                            <tbody id='ctbody'>
                                                {% for entry in closed %}
                                                    <tr>
                                                        <td>
                                                            <a href="{%  url 'userrequests:detail' entry.id %}">
                                                                <img src="{{ entry.file }}" width="100px" height="100px" alt="No Image Has Been Uploaded" style="color: brown; float: left; margin-right: 40px;">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h4 class="text-left">
                                                                <a href="{% url 'userrequests:detail' entry.id %}">
                                                                    {{ forloop.counter }} : {{ entry.title }}
                                                                </a>
                                                            </h4>
                                                        </td>
                                                        <td>
                                                            <p>{{ entry.keywords }}</p>
                                                        </td>
                                                        <td>
                                                            <p>{{ entry.deadline }}</p>
                                                        </td>
                                                        <td>
                                                            <p>{{ entry.views }} views</p>
                                                            <p>{{ entry.downloads }} downloads</p>
                                                        </td>
                                                    </tr>
                                                {%  endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% elif open|length > 0 and closed|length == 0 %}
                                    <h4>No Request Has Been Answered Yet!</h4>
                                {% else %}
                                    <h4>You Have No Pending Requests</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <br>

            <div id="create">
                <p>Can't Find Anything Relevant?</p>
                <a href="{% url 'userrequests:create' %}">
                    <button type="submit" class="btn btn-lg btn-primary">
                        Create A New Request
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </button>
                </a>
            </div>

        <!-- Content When User Has No Requests Yet -->
        {%  else %}
            <h2>You Have Not Made A Request Yet</h2>
            <h4>Create A New Now!</h4>
            <a href="{% url 'userrequests:create' %}">
                <button type="submit" class="btn btn-lg btn-primary">
                    Create A Request
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                </button>
            </a>
        {%  endif %}
    <!-- Not Yet Logged In User -->
    {%  else %}
        <h1 id="header">User Requests</h1>
        <h5>In This Page You Can Create A Request, Review The Requests That You Have Already Made (Opened And Closed) And Also Edit Them </h5>
        <br>
        <hr>
        <br>
        <h2>In Order To Create/Review A Request You Must Log In/Sign Up</h2>
        <a href="{% url 'userrequests:login' %}">
            <button type="submit" class="btn btn-lg btn-primary">
                Login
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            </button>
        </a>
    {% endif %}
</div>

{% endblock %}
